{% extends 'base.html.twig' %}

{% block title %}Company index{% endblock %}

{% block body %}
    <h1>Company index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Adress</th>
                <th>PostalCode</th>
                <th>City</th>
                <th>Logo</th>
                <th>Biography</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.id }}</td>
                <td>{{ company.name }}</td>
                <td>{{ company.adress }}</td>
                <td>{{ company.postalCode }}</td>
                <td>{{ company.city }}</td>
                <td>{{ company.logo }}</td>
                <td>{{ company.biography }}</td>
                <td>
                    <a href="{{ path('app_company_show', {'id': company.id}) }}">show</a>
                    <a href="{{ path('app_company_edit', {'id': company.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_company_new') }}">Create new</a>

#########################################################
    <hr>

    <h2>Developer with the Most Views</h2>
    {% if mostViewedDeveloper %}
        <div>
            <h3>{{ mostViewedDeveloper.name }}</h3>
            <!-- <p>Location: {{ mostViewedDeveloper.location }}</p>
            <p>Biography: {{ mostViewedDeveloper.biography }}</p>
            <p>Total Views: {{ mostViewedDeveloper.views }}</p> -->
            <a href="{{ path('app_developer_show', {'id': mostViewedDeveloper.id}) }}">View Profile</a>
        </div>
    {% else %}
        <p>No developer profiles available.</p>
    {% endif %}
#########################################################    

{% endblock %}
