<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from ventic.dexignzone.com/xhtml/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 12 May 2021 03:52:22 GMT -->
<head>

    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Ventic : Ticketing Admin Template" />
	<meta property="og:title" content="Ventic : Ticketing Admin Template" />
	<meta property="og:description" content="Ventic : Ticketing Admin Template" />
	<meta property="og:image" content=""/>
	<meta name="format-detection" content="telephone=no">
	
	<!-- PAGE TITLE HERE -->
	<title>{% block title %} {% endblock %}</title>
	
	<!-- FAVICONS ICON -->

	<link rel="shortcut icon" type="image/png" href="{{ asset('asset/images/favicon3.png') }}" />
	
	<link rel="stylesheet" href="{{asset('asset/vendor/chartist/css/chartist.min.css')}}">
	<link href="{{asset('asset/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css')}}" rel="stylesheet">
	<link href="{{asset('asset/vendor/jquery-nice-select/css/nice-select.css')}}" rel="stylesheet">
	<!-- Style css -->
    <link href="{{asset('asset/css/style.css')}}" rel="stylesheet">
	
</head>
    <body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <div class="loader--dot"></div>
            <div class="loader--dot"></div>
            <div class="loader--dot"></div>
            <div class="loader--dot"></div>
            <div class="loader--dot"></div>
            <div class="loader--dot"></div>
            <div class="loader--text"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
        <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="{{ path('app_welcome') }}" class="brand-logo">
             <img class="logo-abbr" src="{{asset('asset/images/logo2.png')}}" alt="">
			<div class="brand-title text-primary ">Jobify</div> 
				
            </a>
            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                                <a href="{{ path('app_post_search')}}" >
									<button class="input-group-text mx-2"><i class="flaticon-381-search-2 text-primary mx-2"></i> Rechercher des postes </button>	
                                </a>
                                <a href="{{ path('app_dev_search')}}" >
								    <button class="input-group-text mx-2"><i class="flaticon-381-search-2 text-primary mx-2"></i> Rechercher des développeurs</button>
                                </a>
                        </div>
                    
                        <ul class="navbar-nav header-right">
                            {% if(app.user)%}
                            {% block menuProfil %} {% endblock %}
                            {% else %}
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
									
                                    <img  src="{{asset('uploads/avatars/dev-profil.jpg')}}" width="20" alt=""/>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="{{ path('app_register')}}" class="dropdown-item ai-icon">
                                        <span class="ms-2">S'inscrire </span>
                                    </a>
                                    <a href="{{ path('app_login')}}" class="dropdown-item ai-icon">
                                        <span class="ms-2">Se connecter </span>
                                    </a>
                                </div>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
				</nav>
			</div>
		</div>

               <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="deznav">
            <div class="deznav-scroll">
				<ul class="metismenu" id="menu">
					
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-073-question"></i>
							<span class="nav-text">FAQ</span>
						</a>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-050-info"></i>
							<span class="nav-text">A propos</span>
						</a>
                    </li>
                </ul>
			</div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
		
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
                {% block body %}{% endblock %}
            </div>
			
        </div>
        

            <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
		
            
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->
		
        <!--**********************************
           Support ticket button end
        ***********************************-->


	</div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    
    <script src="{{asset('asset/vendor/global/global.min.js')}}"></script>
	<script src="{{asset('asset/vendor/chart.js/Chart.bundle.min.js')}}"></script>
	<script src="{{asset('asset/vendor/bootstrap-datetimepicker/js/moment.js')}}"></script>
	<script src="{{asset('asset/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js')}}"></script>
	<script src="{{asset('asset/vendor/jquery-nice-select/js/jquery.nice-select.min.js')}}"></script>
	
	<!-- Chart piety plugin files -->
    <script src="{{asset('asset/vendor/peity/jquery.peity.min.js')}}"></script>
	
	<!-- Apex Chart -->
	<script src="{{asset('asset/vendor/apexchart/apexchart.js')}}"></script>
	
	<!-- Dashboard 1 -->
	<script src="{{asset('asset/js/dashboard/dashboard-1.js')}}"></script>
    
    <script src="{{asset('asset/js/custom.min.js')}}"></script>
	<script src="{{asset('asset/js/deznav-init.js')}}"></script>
	<script src="{{asset('asset/js/demo.js')}}"></script>
    <script src="{{asset('asset/js/styleSwitcher.js')}}"></script>
</body>

<!-- Mirrored from ventic.dexignzone.com/xhtml/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 12 May 2021 03:52:24 GMT -->
</html>
