
<li class="nav-item dropdown header-profile">
        <a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
									
            <img  src="{{ asset('uploads/avatars/' ~ app.user.dev.avatar) }}" width="20" alt=""/>
        </a>
        {% if app.user %}
            <div class="dropdown-menu dropdown-menu-end">
                {% if is_granted('ROLE_DEV') %}
                    <a href="{{ path('app_dev_show', {id: app.user.dev.id})}}" class="dropdown-item ai-icon">
                    <span class="ms-2">Mon profile</span>
                </a>
                <a href="{{ path('app_dev_favoris', {id: app.user.dev.id})}}" class="dropdown-item ai-icon">
                    <span class="ms-2">Mes offres favoris </span>
                </a>
                 {% endif %}
                <a href="{{path('app_dev_critere_index2')}}" class="dropdown-item ai-icon">
                    <span class="ms-2">Matching </span>
                </a>
                
                <a href="{{ path('app_logout')}}" class="dropdown-item ai-icon">
                    <span class="ms-2">Se deconnecter </span>
                </a>
            </div>
        {% endif %}
</li>