{% extends 'base.html.twig' %}

{% block title %}Dev  suggérés{% endblock %}
{% block menuProfil %}
{% if(app.user and is_granted('ROLE_DEV'))  %}
    {{ include('menu_dev.html.twig') }}                                                                  
{% elseif (app.user and is_granted('ROLE_COMPANY')) %}
    {{ include('menu_company.html.twig') }}  
{% endif %}
{% endblock menuProfil %}
{% block body %} 
                <div class="row">
					<div class="col-xl-9 col-xxl-8">
						<div class="row">
							<div class="col-xl-6 col-xxl-12">
								<div class="card">
									<div class="card-header border-0 mb-0">
										<h4 class="fs-20">Voici les offres correspondants à vos critères</h4>
										
									</div>
                                    {% for post in posts %}
                                    <a href="{{ path('app_post_show', {'id': post.id}) }}">
                                        <div class="card-body pb-0 dz-scroll loadmore-content pt-0" id="LatestSalesContent">
                                            <div class="media pb-3 border-bottom mb-3 align-items-center">
                                                <div class="media-image me-2">
                                                    <img src="{{ asset('uploads/avatars/' ~ company.logo) }}" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="fs-16 mb-0">{{ post.name }}</h6>
                                                    <div class="d-flex">
                                                        <span class="fs-14 me-auto text-secondary"><i class="fa fa-ticket me-1"></i>{{ post.city }}</span>
                                                        <span class="fs-14 text-nowrap">{{ post.experience }} ans d'expérience requis</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
									{% else %}
                                        <h6 class="m-3 alert alert-danger">Pas d'offres trouvés</h6>
                                    {% endfor %}
								</div>
							</div>
							
						</div>	
					</div>
					
				</div>

 {% endblock %}
