{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}
{% block menuProfil %}
{% if(app.user and is_granted('ROLE_DEV'))  %}
    {{ include('menu_dev.html.twig') }}                                                                  
{% elseif (app.user and is_granted('ROLE_COMPANY')) %}
    {{ include('menu_company.html.twig') }}  
{% endif %}
{% endblock menuProfil %}

{% block body %}
    
    <div class="row">
                    <div class="col-lg-12">
                        <div class="profile card card-body px-3 pt-3 pb-0">
                            <div class="profile-head">
                                <div class="photo-content">
                                    <div class="cover-photo"></div>
                                </div>
                                <div class="profile-info">
									<div class="profile-photo">
										<img src="{{ asset('uploads/avatars/' ~ post.user.company.logo) }}" class="img-fluid rounded-circle" alt="">
									</div>
									<div class="profile-details">
										<div class="profile-name px-3 pt-2">
											<h4 class="text-primary mb-0">{{ post.user.company.name }}</h4>
											<p>{{ post.adress }} {{ post.city }}</p>
										</div>
                                         {% if(app.user and is_granted('ROLE_COMPANY') and app.user.company.id == post.user.company.id )  %}

										<div class="profile-email px-2 pt-2">
											<h4 class="text-muted mb-0">{{post.countView}}</h4>
											<p>Nombre de vues</p>
										</div>
                                            <a href="{{path('app_post_edit', {id: post.id})}}">
                                                <button class="btn btn-primary">
                                                    Modifier la publication
                                                </button>
                                            </a> 
                                        {% else %}  
                                        {% if (app.user) %}
                                            <form action="{{ path('post_toggle_favorite', {id: post.id}) }}" method="POST">
                                                {% if (app.user and post in app.user.dev.favoritePosts)  %}
                                                    <button class="btn btn-danger" type="submit">Retirer des Favoris</button>
                                                {% else %}
                                                    <button class="btn btn-danger" type="submit">Ajouter aux Favoris</button>
                                                {% endif %}
                                            </form>   
                                            {% endif %}                       
                                        {% endif %}
                                          
                                        <div>
                                        </div>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-xl-8">
                        <div class="card">
                            <div class="card-body">
                                <div class="profile-tab">
                                    <div class="custom-tab-1">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a href="#my-posts" data-bs-toggle="tab" class="nav-link active show">Détails</a>
                                            </li>
                                            <li class="nav-item"><a href="#about-me" data-bs-toggle="tab" class="nav-link">Description du poste</a>
                                            </li>
                                        
                                        </ul>
                                        <div class="tab-content">
                                            <div id="my-posts" class="tab-pane fade active show">
                                                <div class="profile-skills mb-2 mt-5">
                                                    <h2 class=" mb-2">{{post.name}}</h2>
                                                    <h4 class="text-primary mb-2">Techonologies requises</h4>
                                                    {% for techno in post.technos %}
                                                    <a href="javascript:void(0);" class="btn btn-primary light btn-xs mb-1">{{techno.name}}</a>
                                                    {% endfor %}
                                                    </div>
                                                <div class="profile-lang  mb-5">
                                                    <h4 class="text-primary mb-2">Année d'expérience requise</h4>
                                                    {{post.experience}} années
                                                    <h4 class="text-primary mb-2">Estimation de salaire</h4>
                                                    {{post.salary }} Euros
													</div>
                                                
                                            </div>
                                            <div id="about-me" class="tab-pane fade">
                                                <div class="profile-about-me mt-3">
                                                   {{post.description}}
                                                </div>
                                                
                                            </div>
                                            <div id="profile-settings" class="tab-pane fade">
                                                
                                            </div>
                                        </div>
                                    </div>
									<!-- Modal -->
									<div class="modal fade" id="replyModal">
										
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}
