{% extends 'base.html.twig' %}

{% block title %}Mettre à jour votre profil{% endblock %}
    {% block menuProfil %}
{% if(app.user and is_granted('ROLE_DEV'))  %}
    {{ include('menu_dev.html.twig', {'dev' : dev}) }}                                                                  
{% elseif (app.user and is_granted('ROLE_COMPANY')) %}
    {{ include('menu_company.html.twig', {'company' : company}) }}  
{% endif %}
{% endblock menuProfil %}
{% block body %}
    
    
    <div class="row">
		<div class="col-xl-9 col-xxl-8">
			<div class="row">
				    <div class="col-xl-6 col-xxl-12">
						<div class="card latest-sales-bx">
							<div class="card-header border-0 mb-0">
								<h1>Mettre à jour votre profil</h1>
						    </div>
							<div class="m-4">
                                {{ include('dev/_form.html.twig', {'button_label': 'Enregister'}) }}
                                {{ include('dev/_delete_form.html.twig') }}
                            </div>	
							<div class="m-4">
                                <a href="{{ path('app_dev_critere_edit', {id: dev.devCritere.id} )}}" >
                                    <button class="btn btn-primary mb-3">Modifier vos critères</button>
                                </a>
                            </div>
						</div>	
					</div>
			</div>
    </div>
    
{% endblock %}
